<div class="task horizontal-center" onclick="openModal(event, 'update', {id: <%= task.id %>})" data-id="<%= task.id %>">
    <div class="task-content vertical-center">
        <h3><%= task.title %></h3>

        <% if (task.date && task.time) { %>
            <span>due on: <%= task.time %> <%= task.date %></span>
        <% } %>
    </div>

    <% let checkData = (task.completed === 1)
            ? "m11.625 18 4.245 4.245 8.505-8.49M18 33c8.25 0 15-6.75 15-15S26.25 3 18 3 3 9.75 3 18s6.75 15 15 15Z"
            : "M18 33c8.25 0 15-6.75 15-15S26.25 3 18 3 3 9.75 3 18s6.75 15 15 15Z"; %>
    <% let checkIconData = {width: "36", height: "36", fill: "none", xmlns: "http://www.w3.org/2000/svg",
        paths: [{d: checkData, stroke: "#070B11", strokeWidth: "3", strokeLinecap: "round", strokeLinejoin: "round"}]}%>

        <%- include('./button', { button: {id: task.id, class: "check-task", onClick: `toggleStatus(${task.id})`, icon: checkIconData} }) %>
</div>